node_modules/
build/
.npm
.eslintcache
package-lock.json
.DS_Store
.vscode/
.idea/
*.iml
.env
target
dependency-reduced-pom.xml
*.jar
.swp
config/collector-config.yaml
semgrep-results.json

dotnet/server/aspnetapp/bin
dotnet/server/aspnetapp/obj